@import 'normalize';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

/* hide scroll bar if needed */

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* remove 'X' from input box to clear the text*/

input::-ms-clear {
    display: none;
}


/* remove arrow from select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* text-indent: 1px; */
    /* text-overflow: ''; */
}

ul li {
    list-style: none;
}


a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    text-decoration: none;
    color: inherit;
}

/** ============ start  custom style ============ */

body {
    position: relative;
    font-family: 'Barlow',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-size: auto;
    width: 100%;
    height: 100vh;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: url(../design/desktop-design.jpg) no-repeat center center;
        opacity: 0.6;
        top: 0;
        left: 0;
        z-index: -1;
        position: absolute;

    }
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {

    font-family: 'Barlow Condensed',
        sans-serif;
    font-weight: 700;

}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}